MONGODB_URL=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/reelspro
NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost:3000
# ImageKit
NEXT_PUBLIC_PUBLIC_KEY=
NEXT_PUBLIC_URL_ENDPOINT=
PRIVATE_KEY=
# Resend (Email Verification)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=noreply@yourdomain.com